.logo {
    font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin-top: 10%;
    text-align: center;
}

/* stuff for both words */
.logo span {
    position: relative;
}
.logo span:before,
.logo span:after {
    content: '';
    position: absolute;
    border-width: 32px;/* makes a nice, big 64px square */
    border-style: solid;
    border-color: transparent;
    height: 0;
    z-index: 10;
}

/* stuff for 2nd word */
.logo .word {
    z-index: 0;/* stack 2nd word below */
}
.logo .word:before {
    left: -4px;
    top: -6px;
    border-top-color: #F2282828;
    border-left-color: #F2282828;
}
.logo .word:after {
    right: -4px;
    bottom: 4px;
    border-bottom-color: #F2282828;
    border-right-color: #F2282828;
}

@media (max-width: 700px) {
    .logo {
        font: 40px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
    }
}
